body {
	/*background-color: #e6ffff;*/
	/*background-image: url(../images/checkered3.png), url(../images/checkered3.png), url(../images/checkered.png);
	background-position: right bottom, left top, left top;
	background-position: bottom 10px;
	background-repeat: repeat-y, repeat-y, repeat;*/

	/*background-image: url(../images/checkered3.png);
	background-position: right 0px bottom 0px;
	background-repeat: repeat-y;*/

	/*background: url(../images/checkered3.png) right 0px bottom 0px repeat-y;*/
}

.container {
	background-color: #ccffcc;
	height: 450px;
	margin-top: 200px;
}

h1, h2, h3, p, img {
	margin: 10px;
}

h1 {}

h2 {}

h3 {}

p {}

img {
	min-height: 150px;
	max-height: 200px;
	width: auto;
}

#gameplay, #responseScreen, #reultsScreen {
	display: none;
}

#start, .answer, #reset {
	margin: 10px auto;
	width: 300px;
	font-size: 30px;
	border: 1px solid green;
	background-color: red;
	color: white;
}

#start {
	margin-top: 160px;
}

#reset {
	margin-top: 100px;
}

#start:hover, .answer:hover, #reset:hover {
	background-color: blue;
}